#container {
    height: 700px;
}

#addLocation {
    height: fit-content;
    max-height: 3rem;
    width: fit-content;
    font-size: 1vw;
    text-align: center;
}

#col {
    height: 500px;
}

#condition {
    padding-right: 5rem;
}

#sunrise {
    padding-right: 5rem;
}

#locationDisplay {
    min-height: 50px;
}
